	<div class="navbar-inner">
			<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">SocialDisater</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li class="active"><a href="#friendserach">Friend search</a></li>
				</ul>
				<div id="login">
					<fb:login-button autologoutlink="true" perms="user_likes" size="large"></fb:login-button>
				</div>
			</div><!--/.nav-collapse -->
			</div>
		</div>