	<div class="navbar-inner">
			<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">SocialDisaster</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#friendsearch">Friend search</a></li>
				</ul>
				<div class="nav btn-group pull-right">	
					<div>
						<button class="test btn btn-inverse auth-btn" id="loginAction">login</button>
						<button class="test btn btn-inverse auth-btn" id="logoutAction">logout</button>
					</div>
				</div>				
			</div><!--/.nav-collapse -->
			</div>
		</div>
		